body
{
 #   background-color:#CC9A14;
    background-image:linear-gradient(blue, orange);
    font-family: Times New Roman;
    padding-top: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 0;
    font-size: 16pt;
}

h1
{
   # color:#E2C2E8;
    color: darkviolet;
    text-align: center;
    font-style:italic;
    font-size: 60pt;
}

h2
{
    text-align: center;
   # color: #00FFAF;
    color: purple;
    font-size: 35pt
}

footer
{
    text-align: center;
    bottom: 0;
}

/* unvisited link */
a:link {
#    color: #00FFAF;
    color: blue;
}

/* visited link */
a:visited {
  #  color: #E2C2E8;
    color: darkblue;
}

/* mouse over link */
a:hover {
 #   color: #E2C2E8;
    color: purple;
}

/* selected link */
a:active {
  #  color: #CC9A14;
    
    color: black;
}