body
{
    background-color:aliceblue;
    font-family: arial;

}

h1
{
    color:hotpink;
    font-style:italic;
    font-size: 500%;
}

h2
{
    color: palegreen;
    font-size: 200%
}

.menu
{
    
}